# Overall
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.DS_Store
.obsidian/
.idea/

# Python
__pycache__/
*.ipynb_checkpoints
*.env
*.venv
env/
venv/
ENV/

# SSH
**/.ssh/id_*
**/.ssh/*_id_*
**/.ssh/known_hosts
