<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpyrJHHiwpa6HSMlpQ3drDLlQa_WpY4rg</string>
	<key>GCM_SENDER_ID</key>
	<string>356395379948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application</string>
	<key>PROJECT_ID</key>
	<string>digit-recognizer-8d4f0</string>
	<key>STORAGE_BUCKET</key>
	<string>digit-recognizer-8d4f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356395379948:ios:c3ee0b47178c5504a549c9</string>
</dict>
</plist>